<h1>Apartments for Rent</h1>
<div class='d-flex justify-space-around flex-wrap'>
<% @flats.each do |flat| %>

  <div class="card col-md-3 m-3" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= flat.name %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= flat.address %></h6>
      <p class="card-text"><%= flat.description %></p>
      <a href="#" class="card-link"><%= link_to "More Details", flat_path(flat) %></a>
    </div>
  </div>
<% end %>
</div>
