<H1>My Apartment</H1>
<div class="card mb-3">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= @flat.name %></h5>
    <p class="card-text"><%= @flat.description %></p>
    <p class="card-text"><small class="text-muted"><%= @flat.address %></small></p>
  </div>
</div>
